$sidebar-compact-width: 80px;
$sidebar-width: 240px;
$footer-height: 18px;
$header-height: 65px;


$border-size: 2px;
$border-color: #34373d;
$header-color: #20222a;

//Form control
$form-control-color:#e1e1e1;
$form-control-background-color: rgba(255, 255, 255, 0.1);
$form-control-border-size: 1px;
$form-control-border-color: rgba(255, 255, 255, 0.15);


/* ========================================================================
 * Colors
 * ======================================================================== */
$text-color-black: #000 !default;
$text-color-white: #D2D2D2;
$text-color-default: #8a8d93;
$text-color-orange: #E76D3B;
$text-color-red: #CC3E4A;
$text-color-green: #84B547;
$text-color-lightblue: #2DBDA8;
$text-color-blue: #1F91F3;
$text-color-gray: #383838;
$text-color-muted: #8F979F;

$bg-color-white: #D2D2D2;
$bg-color-orange: #E76D3B;
$bg-color-red: #CC3E4A;
$bg-color-green: #84B547;
$bg-color-lightblue: #2DBDA8;
$bg-color-blue: #1F91F3;
$bg-color-gray: #383838;
$bg-color-muted: #8F979F;