<!--
<app-sidebar>
    <app-sidebar-header>
        <span class="full"><strong class="text-red">Easy</strong><strong class="text-default">Panel</strong></span>
        <span class="minimized"></span>
    </app-sidebar-header>
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
</app-sidebar>

-->
<app-sidebar >
    <div>
       H
    </div>

    <app-sidebar-items [navItems]="navItems"></app-sidebar-items>
</app-sidebar>

<div class="wrapper">
    <app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
        
    </app-header>
    <main class="main">
        <div class="container-fluid">
            <div class="fade-in">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
    <app-footer>
        <span><a href="#">Test</a> &copy; 2018 Test.</span>
        <span class="ml-auto">Powered by <a href="#">Test</a></span>
    </app-footer>
</div>